{% extends 'base.html' %}

{% block content %}

<section class="py-2">
    <div class="row">
      <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
          Web Development Ebook
        </h1><p class="lead">The Payments Platform Built to Grow Your Business.</p>
        <div class="m-2"> 
            <a target="_blank" href={{hppUrl}}  class="btn btn-outline-dark text-white btn-lg" style="text-decoration: none"> Click to check Hosted Payment Page Form </a> 
        </div>
            <script id="kashier-iFrame"
            src="https://test-iframe.kashier.io/js/kashier-checkout.js"
            data-amount={{order.amount}}
            data-description="description"
            data-hash={{order.hash}}
            data-currency={{order.currency}}
            data-orderId={{order.merchantOrderId}}
            data-merchantId={{order.mid}}
            data-merchantRedirect="http://localhost:8000/callback"
            data-store = "MK Company"
            data-type = "external" data-display="en" >
          </script>
          <script>
            // Hide default stripe button
             var button = document.getElementsByClassName('el-kashier-button')[0]
               button.classList.add("btn")
               button.classList.add("btn-outline-dark")  
               button.classList.add("text-white") 
               button.classList.add("btn-lg")
               button.classList.add("text-white")
               button.classList.add("btn-lg")
               button.classList.remove("el-kashier-button")
               document.getElementById("paymentAmount").innerText= "Purchase For {{order.amount}} EGP with our iframe"
               document.getElementById("paymentLoader").innerText= "Purchase For {{order.amount}} EGP with our iframe"

          </script>
      </div>
      <div class="col-md-6">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwuzzuf.net%2Fjobs%2Fp%2F300246-Customer-Success-Specialist-Kashier-Payment-Solutions-Cairo-Egypt&psig=AOvVaw30yyfhS-BpO0hYVi1VZq0i&ust=1609994392867000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCplNK-hu4CFQAAAAAdAAAAABAK" alt="" class="img-fluid">
      </div>
    </div>
  </section>
{% endblock %}